*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: underline;

}
p{
    align-items: center;
    justify-content: center;
    inline-size: 1.4;
    line-height: 1.7;
    margin: 40px 10px 5px ;
    text-transform: initial;


}