*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(240, 33%, 75%);
}
.contact-section{


    padding: 70px 20px;
}
.contact-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.contact-info{
    flex: 1;
    min-width: 300px;
}
.contact-info h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #0a3d62;
}
.contact-info p{
    color: #555;
    line-height: 1.6;
}
.info-box{
    margin-top: 20px;
    background: white;
    border-left: 4px solid #0a3d62;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0 ,0.1);

}
.info-box p{
    margin: 8px 0;
}
.contact-form{
    flex: 1;
    min-width: 300px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}
.contact-form h3{
    text-align: center;
    margin-bottom: 20px;
    color: #0a3d62;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cdd6df;
    margin-bottom: 15px;
    background: #f7fdff;
    font-size: 15px;
}
.contact-form textarea{
    height: 130px;
    resize: none;
}
.contact-form button{
    width: 100%;
    padding: 14px;
    border: none;
    background: #0a3d62;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.contact-form button :hover{
    background: #07466a;
}
@media(max-width:768px){
    .contact-container{
        flex-direction: column;
    }
}