.destination-section{
    padding: 80px 20px;
    background: #f8fdff;
    text-align: center;
}
.section-title{
    font-size:32px ;
    color: #0a3d62;
    margin-bottom: 10px;

}
.section-subtitle{
    color: #555;
    margin-bottom: 10px;
}
.destination-container{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;

}
.destination-card{
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
}
.destination-card :hover{
    transform: translate(-8px);
}
.destination-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.destination-content{
    padding: 20px;
}
.destination-content h3{
    color: #0a3d62;
    margin-bottom: 10px;
}
.destination-content p{
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}
.destination-content a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0a3d62;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;

}
.destination-content a :hover{
    background: #07466a;
}