*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body{
    background: #f4f4f4;

}
nav{
    width: 100%;
    background: #1a1a1a;
    color: #fff;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 100;
}
nav.logo{
    font-size: 24px;
    font-weight: bolder;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
nav ul il a :hover{
    color: #1b7e99;
    background: #535a5c;

}
.meun-icon{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.nav ul li a{
    display: none;
}
@media(max-width:768px){
    nav ul{
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        background: #23ed;
        text-align: center;
        flex-direction: column;
        padding: 20px 0;
        transition: 0.4s;
    }
    nav ul.show{
        left: 0;
    }
    .meun-icon{
        display: block;
    }
}